<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "5ba37c1f363fd178171d780295e7eb0a";</script>


<ziggeo ziggeo-width=320 
		ziggeo-height=240>
</ziggeo>

<ziggeo ziggeo-video="a615236dee5e5c7beef585fe6cc75ac9" 
        ziggeo-width=320
        ziggeo-height=240>
</ziggeo>

<script>
	ZiggeoApi.Styles.play_button_vertical_align = "center"; // "top" or "bottom"
	ZiggeoApi.Styles.play_button_horizontal_align = "center"; // "left" or "right"
	ZiggeoApi.Styles.play_button_class = "ziggeo-play-button"; // "your-custom-css-class"
</script>

testing

</html>